* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("Images/celebration-4926317_640.jpg");
  background-position: center/cover;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  margin-top: -35%;
}
ul {
  padding: 0.5%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}

li {
  list-style-type: none;
  padding: 10px 20px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: #222;
  position: relative;
  color: white;
}

ul li a:before {
  content: "";
  width: 0;
  height: 5px;
  background-color: red;
  position: absolute;
  top: 120%;
  left: 0;
  transition: all 0.5s;
}

ul li a:after {
  content: "";
  width: 0;
  height: 5px;
  background-color: blue;
  position: absolute;
  top: 120%;
  right: 0;
  transition: all 0.5s;
}

ul li a:hover:before {
  width: 50%;
  transform: translateX(100%);
}

ul li a:hover:after {
  width: 50%;
  transform: translateX(-100%);
}

a:hover {
  color: rgb(247, 247, 170);
}
