* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: url("https://cdn.pixabay.com/photo/2022/08/18/03/20/joker-7393883_640.png");

  background-repeat: repeat;
  overflow: hidden;
}

main {
  margin: 5%;
  text-align: center;
  height: 82.5vh;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

section {
  height: 100vh;
}
.ass {
  height: 100vh;
}
#heading {
  margin-top: 4%;
  padding-top: 1%;
  font-size: 5rem;
  color: rgb(248, 59, 59);
  font-weight: bold;
  text-shadow: 1px 1px 1px white;
}
#click {
  color: rgb(248, 59, 59);
  font-weight: bold;
  text-shadow: 1px 1px 1px white;
  font-size: 1.5rem;
}
#arm {
  margin-left: 60%;
  width: 1200px;
  height: 700px;
}
.playHand {
  margin-top: -3%;
  position: absolute;
  transform: rotate(25deg);
  animation: turnArm 4s 2s ease-in-out forwards;
}

@keyframes turnArm {
  0% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.card {
  position: absolute;
  height: 350px;
  width: 245px;
  background-color: rgb(253, 254, 249);
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.card1 {
  top: 39.8%;
  left: 78.3%;
  transform: rotate(70deg);
  animation: card1Fall 4s 6s ease forwards;
}

@keyframes card1Fall {
  0% {
    top: 39.8%;
    left: 78.3%;
    transform: rotate(70deg);
  }

  100% {
    top: 50%;
    left: 0%;
    transform: rotate(-7deg);
  }
}
.card2 {
  top: 39.8%;
  left: 78.3%;
  transform: rotate(70deg);
  animation: card2Fall 5s 6s ease forwards;
}

@keyframes card2Fall {
  0% {
    top: 39.8%;
    left: 78.3%;
    transform: rotate(70deg);
  }

  100% {
    top: 55%;
    left: 48%;
    transform: rotate(16deg);
  }
}
.card3 {
  top: 39.8%;
  left: 78.3%;
  transform: rotate(70deg);
  animation: card3Fall 3s 6s ease forwards;
}

@keyframes card3Fall {
  0% {
    top: 39.8%;
    left: 78.3%;
    transform: rotate(70deg);
  }

  100% {
    top: 52%;
    left: 24%;
    transform: rotate(2deg);
  }
}
.card4 {
  top: 39.8%;
  left: 78.3%;
  transform: rotate(70deg);
  animation: card4Fall 3s 6s ease forwards;
}

@keyframes card4Fall {
  0% {
    top: 39.8%;
    left: 78.3%;
    transform: rotate(70deg);
  }

  100% {
    top: -2%;
    left: 0%;
    transform: rotate(-7deg);
  }
}

.card5 {
  top: 39.8%;
  left: 78.3%;
  transform: rotate(70deg);
  animation: card5Fall 3s 6s ease forwards;
}

@keyframes card5Fall {
  0% {
    top: 39.8%;
    left: 78.3%;
    transform: rotate(70deg);
  }

  100% {
    top: 2%;
    left: 24%;
    transform: rotate(2deg);
  }
}
.card6 {
  top: 39.8%;
  left: 78.3%;
  transform: rotate(70deg);
  animation: card6Fall 3s 6s ease forwards;
}

@keyframes card6Fall {
  0% {
    top: 39.8%;
    left: 78.3%;
    transform: rotate(70deg);
  }

  100% {
    top: 12%;
    left: 48%;
    transform: rotate(16deg);
  }
}
.cardContinue {
  position: absolute;
  height: 350px;
  width: 245px;
  background-color: rgb(253, 254, 249);
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  animation: changeCard 3s 6s ease forwards;
}
@keyframes changeCard {
  from {
    height: 350px;
    top: 39.8%;
    left: 78.3%;
    transform: rotate(70deg);
  }
  to {
    height: 250px;
    top: 12%;
    left: 48%;
    transform: rotate(16deg);
  }
}

.cardImg {
  width: 100%;
  height: 55%;
  margin-top: 15px;
  margin-bottom: 5px;
}
