* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  overflow: hidden;
}
li {
  background: linear-gradient(to right, #c89b34, #e0c689);
  color: white;
  font-size: 1.5rem;
  padding: 35px;
  margin-bottom: 15px;
  transform: rotate(2deg);
  width: 300px;
  list-style: none;
  box-shadow: inset 2px 2px 4px 4px #7f6322;
  z-index: 3;
}
#content1 {
  position: absolute;
  top: 3%;
  left: 20%;
}
#content2 {
  position: absolute;
  top: 17%;
  left: 20%;
}
#content3 {
  position: absolute;
  top: 31%;
  left: 20%;
}
#content4 {
  position: absolute;
  top: 45%;
  left: 20%;
}
#content5 {
  position: absolute;
  top: 59%;
  left: 20%;
}
#content6 {
  position: absolute;
  top: 73%;
  left: 20%;
}
#content7 {
  position: absolute;
  top: 87%;
  left: 20%;
}
#link7 a {
  color: yellow;
}
/* li:hover {
  width: 100%;
} */
.dot {
  margin-left: 45%;
  width: 30px;
  height: 30px;
  border: 5px solid burlywood;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  background: linear-gradient(#e0c689, wheat, #e0c689);
  border-radius: 50%;
}
.hidden {
  display: none;
}
a {
  text-align: center;
  text-decoration: none;
  color: white;
  padding-left: 25%;
  font-size: 2rem;
}
a:hover {
  font-weight: 700;
}

/* rightSide */
.rightSide {
  position: absolute;
  width: 60%;
  height: 90%;
  top: 0;
  left: 55%;
  background: url("Images/joker.png");
  background-position: center/cover;
  background-size: 58%;
  background-repeat: no-repeat;
}

.rules {
  margin-top: 18%;
  margin-left: 17.5%;
}
