* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: linear-gradient(to bottom right, #ffebd4, #f9f4ee);
  background: url("Images/cathedral-1296373_640.png");
  background-position: 70% 70%;
  background-repeat: repeat-x;
  overflow: hidden;
}
.container {
  margin: 5%;
  display: flex;
  gap: 15px;
}
.card {
  width: 500px;
  height: 700px;
  background-color: #ffc6c6;
  padding: 20px 80px 20px 20px;
  border-radius: 10px;
  transition: all 0.5s;
  clip-path: circle(7% at 93% 20%);
  clip-path: circle(3.5% at 93% 20%);
}

h1 {
  margin-bottom: 20px;
}

p {
  font-size: 18px;
}

.card:hover {
  clip-path: circle(90%);
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: black;
}

#back {
  font-size: 1.5rem;
  color: #ff8f8f;
}

#back:hover {
  color: #f83131;
}
