@import url("https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(
    to right,
    rgb(66, 209, 241),
    rgb(231, 243, 245),
    rgb(181, 234, 246)
  );
  font-family: "Gupter", serif;
}
.container {
  margin: 5%;
  display: flex;
  gap: 2.5%;
  justify-content: center;
  align-items: center;
  color: rgb(83, 60, 42);
  font-size: 1.75rem;
}
#picCologne {
  width: 100%;
  height: 100%;
  transform: rotateX(90deg);
  animation: turnIn 5s 4s linear forwards;
}

@keyframes turnIn {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

#letters {
  position: absolute;
  top: 13.8%;
  left: 49%;
  padding: 5%;
  transform: rotate(13deg) translateY(-650px);
  z-index: 2;
  animation: turnLetterIn 2s 9s ease-in-out forwards;
}

span {
  border-radius: 5%;
  background: linear-gradient(
    to bottom,
    rgb(5, 91, 108),
    rgb(18, 132, 155),
    rgb(207, 206, 206)
  );
  text-shadow: 2px 2px 2px rgb(18, 132, 155);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  color: rgb(248, 248, 219);
  font-size: 14rem;
  padding: 1%;
}
@keyframes turnLetterIn {
  from {
    transform: rotate(13deg) translateY(-650px);
  }
  to {
    transform: rotate(13deg) translateY(0px);
  }
}
@keyframes changeOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#first {
  opacity: 0;
  animation: changeOpacity 2s 9s ease-in-out forwards;
}
#second {
  opacity: 0;
  animation: changeOpacity 2s 10s ease-in-out forwards;
}
#third {
  padding-left: 10px;
  opacity: 0;
  animation: changeOpacity 2s 11s ease-in-out forwards;
}
#fourth {
  opacity: 0;
  animation: changeOpacity 2s 12s ease-in-out forwards;
}

marquee {
  position: absolute;
  opacity: 0;
  top: 75%;
  left: 39%;
  margin-right: 5%;
  font-size: 6rem;
  color: rgb(83, 60, 42);
  animation: changeOpacity 3s 14s linear forwards;
}

#link {
  text-decoration: none;
  opacity: 0;
  color: rgb(248, 248, 219);
  animation: changeOpacity 3s 17s linear forwards;
}
#link:hover {
  color: rgb(5, 91, 108);
  text-shadow: 2px 2px 2px rgb(248, 248, 219);
}
